APP_HOME=${jsonencode(app_home)}
LANGFUSE_DIR=${jsonencode("${app_home}/langfuse")}
LANGFUSE_VERSION=${jsonencode(langfuse_version)}
LANGFUSE_GIT_REF=${jsonencode(langfuse_git_ref)}
LANGFUSE_WEB_IMAGE=${jsonencode(langfuse_web_image)}
LANGFUSE_WORKER_IMAGE=${jsonencode(langfuse_worker_image)}
CLICKHOUSE_IMAGE=${jsonencode(clickhouse_image)}
MINIO_IMAGE=${jsonencode(minio_image)}
REDIS_IMAGE=${jsonencode(redis_image)}
POSTGRES_IMAGE=${jsonencode(postgres_image)}
LANGFUSE_INIT_ORG_ID=${jsonencode(langfuse_init_org_id)}
LANGFUSE_INIT_ORG_NAME=${jsonencode(langfuse_init_org_name)}
LANGFUSE_INIT_USER_EMAIL=${jsonencode(langfuse_init_user_email)}
LANGFUSE_INIT_USER_NAME=${jsonencode(langfuse_init_user_name)}
LANGFUSE_INIT_USER_PASSWORD=${jsonencode(langfuse_init_user_password)}
